$color-cool-grey: #9a9b9c;
$color-blue: #0088d0;
$color-dark-blue: #0b1f40;
$color-light-blue: #91b3eb;
$color-off-white: #eff0ee;
$color-light-grey: #e0e1dd;
$color-off-yellow: #e1ff32;
$color-green: #4ab300;
$color-dark-green: #154d14;
$color-red: #ff1a00;
$error-red: #cc0000;
$color-dark-gray: #737678;
$battleship-grey: #747678;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;
$font-weight-bold: 'FrutigerNextBold';
$font-weight-regular: 'FrutigerNextRegular';
